body {
}

button {
}

html, p {
    font-family: Arial, sans-serif;
    
}
a {
    color: #78C2AD;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #4aa48a;
    text-decoration: underline;
}
img {
    vertical-align: middle;
    border-style: none;
}

.book-list {
    font-size: 20px;;
}

table {
    padding: 2px;
    margin: 10px 15px;
    height: 120px;
    background-color: #fff;
    border-collapse: collapse !important;
    border: hidden;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    padding: 0.75rem;
    vertical-align: top;

}



.lb-book-list {
    display:block;
    float:left;
    width:210px;
}


.img-responsive:hover {
    -webkit-box-shadow: 1px 3px 7px 0px rgba(5,43,31,0.63); 
    box-shadow: 1px 3px 7px 0px rgba(5,43,31,0.63);
    background-color: rgba(0, 0, 0, 0.075);
}

.btnHead {
    background: #5eb69d;
    background-image: -webkit-linear-gradient(top, #5eb69d, #5eb69d);
    background-image: -moz-linear-gradient(top, #5eb69d, #5eb69d);
    background-image: -ms-linear-gradient(top, #5eb69d, #5eb69d);
    background-image: -o-linear-gradient(top, #5eb69d, #5eb69d);
    background-image: linear-gradient(to bottom, #5eb69d, #5eb69d);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
}


.bgColourInLineBlock {
    display: inline-block;
    background: #5eb69d;
    float: right;
}

.bgColourInLineBlockLeft {
    display: inline-block;
    background: #5eb69d;
    float: left;
}

.bgColour{
    background: #5eb69d;
}

.btnHead:hover {
    background: #3ad8a1;
    text-decoration: none;
}

.btnSc {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #5c6469;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btnSc:hover {
  background: #0f0e0f;
  text-decoration: none;
}

.btn-primary {
    margin: auto;
    display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    color: #78C2AD;
    background-color: transparent;
    background-image: none;
    border-color: #78C2AD;
    border-radius: 0;
    outline: 1px dotted;
    outline: 1px auto #78C2AD;
    
}

.title {
    font-size: 0.95em;
    font-weight: bold
}
.author {
    font-size: 0.8em;
}
.price {
    font-size: 0.95em;
    font-style: italic
}
.add-to-cart {
    padding: 10px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #78C2AD;
    border-color: #78C2AD;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #78C2AD;
    background-color: transparent;
}

.card-border-primary {
    alignment: center;
    text-align: center;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f7f7f9;
    border-radius: 0.6rem;
}

.search-box {
    border-color: #56CC9D;
    background-color: rgba(86, 204, 157, 0.25);
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #5a5a5a;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.search-box:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(86, 204, 157, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(86, 204, 157, 0.25);
    color: #5a5a5a;
    background-color: #fff;
    border-color: #d0eae2;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.25);
}


.auto-style1 {
    margin: 0px;
}
